@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto-Bold.ttf");
  font-weight: 700;
}

* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
  outline: none;
}

.page-container {
  width: 100%;
  margin: 0 auto;
  background-color: #25282a;
}

.content-container {
  /* overflow: hidden; */
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
}

h1 {
  margin: 0 auto;
  padding: 50px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  text-transform: capitalize;
  color: #ffffff;
}

.wrapper-slider-block {
  display: flex;
  flex-direction: column;
}

.wrapper-slides-img {
  display: flex;
  justify-content: center;
  height: 500px;
}

.wrapper-slider-footer {
  display: flex;
  justify-content: space-between;
}

.wrapper-mems-caption {
  overflow: hidden;
  text-align: left;
}

.wrapper-tab {
  display: flex;
  gap: 5px;
  padding-top: 25px;
  margin-bottom: 100px;
}

img {
  width: 0;
  border-radius: 5px;
  box-shadow: 5px 5px 5px #1e2020;
  transition: 0.5s;
}

h2 {
  display: inline-block;
  width: 0;
  margin-bottom: 100px;
  padding-top: 25px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-size: 1.25rem;
  font-weight: 700;
  text-align: left;
  color: #ffffff;
  white-space: nowrap;
  overflow: hidden;
  opacity: 0;
  transition: 0.3s;
}

input {
  display: none;
}

label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

label div {
  width: 15px;
  height: 15px;
  border: medium solid #6ea3ca;
  border-radius: 50%;
  background-color: #6ea3ca;
  text-align: center;
  transition: 0.2s;
}

label:hover div {
  border-color: #ffffff;
  background-color: #ffffff;
}

label:active div {
  border-color: #bdbdbd;
  background-color: #bdbdbd;
}

#radio-slide1:checked ~ .wrapper-slides-img .slide1 {
  width: 500px;
}
#radio-slide1:checked
  ~ .wrapper-slider-footer
  .wrapper-mems-caption
  .mems-caption1 {
  width: 350px;
  opacity: 1;
}

#radio-slide1:checked ~ .wrapper-slider-footer .wrapper-tab .icon-tab1 {
  background-color: #25282a;
}

#radio-slide2:checked ~ .wrapper-slides-img .slide2 {
  width: 500px;
}
#radio-slide2:checked
  ~ .wrapper-slider-footer
  .wrapper-mems-caption
  .mems-caption2 {
  width: 350px;
  opacity: 1;
}
#radio-slide2:checked ~ .wrapper-slider-footer .wrapper-tab .icon-tab2 {
  background-color: #25282a;
}

#radio-slide3:checked ~ .wrapper-slides-img .slide3 {
  width: 500px;
}
#radio-slide3:checked
  ~ .wrapper-slider-footer
  .wrapper-mems-caption
  .mems-caption3 {
  width: 350px;
  opacity: 1;
}
#radio-slide3:checked ~ .wrapper-slider-footer .wrapper-tab .icon-tab3 {
  background-color: #25282a;
}

#radio-slide4:checked ~ .wrapper-slides-img .slide4 {
  width: 500px;
}
#radio-slide4:checked
  ~ .wrapper-slider-footer
  .wrapper-mems-caption
  .mems-caption4 {
  width: 350px;
  opacity: 1;
}
#radio-slide4:checked ~ .wrapper-slider-footer .wrapper-tab .icon-tab4 {
  background-color: #25282a;
}
